# MCP Server
MCP_HOST="localhost"
MCP_PORT=8123


GOOGLE_API_KEY=''
GOOGLE_GENAI_USE_VERTEXAI=0


# Embeddings
# EMBEDDING_MODEL="google/embedding-gemma-300m"
# EMBEDDING_SERVICE_URL="http://127.0.0.1:1234"
# GEMINI_API_KEY="lm_studio"
# EMBEDDING_SERVICE_URL="http://localhost:11434/v1" # commented out since we are using Google's hosted API
